.form-section {
    margin: 2rem 0;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.bekannt {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.bekannt img {
   margin: 0 1rem;
    width: 80px;
}

.wilkommen-section {

}

.col1 {
    background-color: aqua;
}

.col2 img {
    width: 100%;
}

.vid1 {
    width: 100%;
}

.vid2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.video-section {
    /* debugging start */
    min-height: 80px;
    background: yellow;
    /* debugging end */
}

.faq-section {

}

.bottom-nav {

}

.footer {
    /* debugging start */
    min-height: 80px;
    background: gray;
    /* debugging end */
}
